/* Our brand's gold color */
/* Our brand's Purple color */
/* Baby Blue Background Color used in the PM's Landing Pages */
/* GREY TEXT */
/* Harland & Poston Brand Blue */
body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

h1 {
  letter-spacing: 0.03em;
  font-size: 55px;
  line-height: 1.25em;
}
@media ((min-width: 1201px) and (max-width: 1400px)) {
  h1 {
    font-size: 50px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  h1 {
    font-size: 45px;
  }
}
@media ((min-width: 768px) and (max-width: 991px)) {
  h1 {
    font-size: 41px;
  }
}
@media ((min-width: 577px) and (max-width: 767px)) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 47px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: #6A257A;
  font-weight: 600;
}
@media ((min-width: 1201px) and (max-width: 1400px)) {
  h2 {
    font-size: 42px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  h2 {
    font-size: 37px;
  }
}
@media ((min-width: 768px) and (max-width: 991px)) {
  h2 {
    font-size: 33px;
  }
}
@media ((min-width: 577px) and (max-width: 767px)) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 33px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: #6A257A;
}
@media ((min-width: 1201px) and (max-width: 1400px)) {
  h3 {
    font-size: 33px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  h3 {
    font-size: 30px;
  }
}
@media ((min-width: 768px) and (max-width: 991px)) {
  h3 {
    font-size: 28px;
  }
}
@media ((min-width: 577px) and (max-width: 767px)) {
  h3 {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 28px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  font-weight: 400;
}
@media ((min-width: 1201px) and (max-width: 1400px)) {
  h4 {
    font-size: 25px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  h4 {
    font-size: 22px;
  }
}
@media ((min-width: 768px) and (max-width: 991px)) {
  h4 {
    font-size: 20px;
  }
}
@media ((min-width: 577px) and (max-width: 767px)) {
  h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}
@media ((min-width: 1201px) and (max-width: 1400px)) {
  h5 {
    font-size: 18px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  h5 {
    font-size: 18px;
  }
}
@media ((min-width: 768px) and (max-width: 991px)) {
  h5 {
    font-size: 18px;
  }
}
@media ((min-width: 577px) and (max-width: 767px)) {
  h5 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  h5 {
    font-size: 18px;
  }
}

p {
  line-height: 1.25em;
  letter-spacing: 0.03em;
}

a {
  color: unset;
  text-decoration: unset;
}

.section-inner-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

header {
  background: #6A257A;
  color: white;
}
header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}
header .header-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .mobile-menu-button {
  margin: unset;
  display: none;
}
@media (max-width: 768px) {
  header .mobile-menu-button {
    display: block;
  }
}
header .mobile-menu-close-button {
  display: none;
  margin: unset;
}
header .options-wrapper {
  display: flex;
  gap: 25px;
  font-weight: 600;
}
header .options-wrapper:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  header .options-wrapper {
    display: none;
  }
}
header .mobile-menu {
  position: absolute;
  width: 100%;
  background: green;
  background: linear-gradient(180deg, rgb(106, 37, 122) 0%, rgb(106, 37, 122) 62%, rgba(106, 37, 122, 0) 100%);
  z-index: 12;
  height: 80vh;
  display: none;
}
header .mobile-menu .options-wrapper-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  padding-top: 50px;
}
header .mobile-menu .horizontal-line {
  height: 1px;
  background: #F9F7F4;
}

#banner-section {
  height: 95vh;
  background: brown;
  position: relative;
  background: url("/assets/img/bg/greece-gv-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
@media (max-width: 768px) {
  #banner-section {
    height: 70vh;
  }
}
#banner-section .rollover-element {
  background: #6A257A;
  color: #F9F7F4;
  padding-bottom: 20px;
  transition: 1s ease;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
@media (min-width: 768px) {
  #banner-section .rollover-element {
    padding-top: 60px;
  }
}
@media (max-width: 576px) {
  #banner-section .rollover-element .banner-title h1 {
    font-size: 28px;
  }
}
#banner-section .banner-subtitle {
  color: #F9F7F4;
  margin-top: 40px;
  display: none;
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
  #banner-section .banner-subtitle {
    padding-bottom: 40px;
  }
}
#banner-section .animate__animated {
  display: block;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#golden-visa-benefits .benefits-wrapper {
  margin-top: 60px;
}
#golden-visa-benefits .benefits-wrapper .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#golden-visa-benefits .benefits-wrapper img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

#our-top-picks-section {
  background: #EAEAEC;
}
#our-top-picks-section .top-picks-wrapper {
  margin-top: 60px;
}
@media (max-width: 768px) {
  #our-top-picks-section .top-picks-wrapper .row {
    gap: 30px;
  }
}
#our-top-picks-section .top-picks-wrapper .item .title {
  background: #6A257A;
  padding: 0 22px;
  color: #F9F7F4;
  border-radius: 3px;
}
#our-top-picks-section .top-picks-wrapper .item .title h3 {
  color: #F9F7F4;
}
#our-top-picks-section .top-picks-wrapper .program-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
#our-top-picks-section .top-picks-wrapper .program-details h5 {
  font-weight: 600;
  color: #6A257A;
}
#our-top-picks-section .top-picks-wrapper img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
#our-top-picks-section .top-picks-wrapper .mobile-horizontal-line {
  display: none;
  height: 1px;
  background: #6A257A;
  width: calc(100% - 30px);
  margin: auto;
}
@media (max-width: 768px) {
  #our-top-picks-section .top-picks-wrapper .mobile-horizontal-line {
    display: block;
  }
}

/* Multistep Form Specific Styles for Page */
body #multistep-form-section {
  position: relative;
}
@media (max-width: 768px) {
  body #multistep-form-section .head-inner-wrapper {
    display: none;
  }
}
@media (max-width: 576px) {
  body #multistep-form-section .name.thank-you-wrapper .title {
    font-size: 28px;
    line-height: 1.25em;
  }
  body #multistep-form-section .name.thank-you-wrapper .subtitle {
    font-size: 18px;
  }
  body #multistep-form-section .name {
    margin-bottom: 10px;
  }
}
body #multistep-form-section .form-step-advancement-wrapper .prev-btn {
  background: #F9F7F4;
  padding: 8px 10px;
}
body #multistep-form-section .list {
  margin-top: unset;
}
@media (max-width: 576px) {
  body #multistep-form-section .list {
    gap: 15px;
  }
  body #multistep-form-section .list .answer-option {
    font-size: 16px;
  }
  body #multistep-form-section .list .answer-option .custom-circle {
    width: 25px;
    height: 25px;
  }
  body #multistep-form-section .list .answer-option .custom-circle::after {
    width: 13px;
    height: 13px;
  }
}
body #multistep-form-section .bottom-progress-wrapper {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  body #multistep-form-section .bottom-progress-wrapper {
    margin-bottom: 0px;
  }
}
body #multistep-form-section .name {
  padding-top: 2rem;
  width: 80%;
  margin-bottom: 20px;
}
body #multistep-form-section .multistep-wrapper {
  height: 75vh;
}
body #multistep-form-section .multistep-wrapper #multistep-form .form-inner-wrapper .head {
  position: absolute;
  right: 15px;
}
body #multistep-form-section h2, body #multistep-form-section h3 {
  color: #F9F7F4;
}
body #multistep-form-section textarea {
  resize: none;
}

@media (max-width: 576px) {
  #testimonials-gv-page-revamp-section .container {
    padding-right: unset;
  }
  #testimonials-gv-page-revamp-section .container .title {
    padding-right: 15px;
  }
}
#testimonials-gv-page-revamp-section .testimonials-wrapper {
  margin-top: 45px;
}
#testimonials-gv-page-revamp-section .testimonials-wrapper .item {
  display: grid;
  grid-template-rows: 35px auto auto;
}
@media (max-width: 576px) {
  #testimonials-gv-page-revamp-section .testimonials-wrapper .item {
    width: calc(50% + 50px) !important;
  }
}
#testimonials-gv-page-revamp-section .testimonials-wrapper .item .testimonial-text {
  font-weight: 400;
  margin-bottom: 15px;
}
#testimonials-gv-page-revamp-section .testimonials-wrapper .item .client-name {
  align-self: flex-end;
}

button {
  padding: 8px 20px;
  background: #6A257A;
  color: #F9F7F4;
  border-radius: 5px;
  border: 1px solid #6A257A;
  font-weight: 500;
  letter-spacing: 0.48px;
  transition: 0.2s all;
}
button:hover {
  background: #572562;
}

@media (max-width: 991px) {
  .banner-column {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .banner-column {
    width: 100%;
  }
  .form-container-element {
    width: 100%;
    max-width: unset;
    padding: unset;
  }
}

.generic-form-container {
  top: 25px;
  width: 360px;
  background: rgba(249, 247, 244, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 20px 20px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .generic-form-container {
    right: 25px;
  }
}
@media (min-width: 900px) {
  .generic-form-container {
    right: 75px;
  }
}
@media (max-width: 768px) {
  .generic-form-container {
    position: unset;
    width: 100%;
    background: #EAEAEC;
  }
}
.generic-form-container.animate__animated {
  display: block;
}
.generic-form-container .input-container {
  display: flex;
  gap: 6px;
}
.generic-form-container label {
  margin-bottom: 5px;
}
.generic-form-container .button-row {
  position: relative;
}
.generic-form-container .button-row .horizontal-line {
  position: absolute;
  height: 1px;
  top: 0;
  left: -25px;
  margin: auto;
  bottom: 0;
  background: #6A257A;
  width: calc(100% + 50px);
}
.generic-form-container .wrapper,
.generic-form-container .email-input-container {
  width: 100%;
}
.generic-form-container button[type=submit] {
  display: flex;
  justify-self: flex-end;
  position: relative;
}
.generic-form-container button[type=submit]:disabled, .generic-form-container button[type=submit][disabled] {
  cursor: not-allowed;
  filter: grayscale(0.5);
}
.generic-form-container .consent-text {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #25283D;
  opacity: 0.75;
}
.generic-form-container .visas-disclaimer-revamp {
  display: block;
  color: #25283D;
  opacity: 0.75;
  font-size: 13px;
  letter-spacing: 0.39px;
  line-height: 16px;
  margin: 15px 0;
}
.generic-form-container .title {
  color: #6A257A;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .generic-form-container .title {
    font-size: 28px;
  }
}
.generic-form-container .form-row {
  margin-bottom: 6px;
}
.generic-form-container input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #25283D;
  background: #F9F7F4;
  padding: 5px 10px;
}
.generic-form-container textarea::-moz-placeholder {
  color: #25283D; /* Modern browsers */
}
.generic-form-container textarea::placeholder {
  color: #25283D; /* Modern browsers */
}

footer {
  background: #6A257A;
  color: #F9F7F4;
}
footer .row {
  justify-content: center;
  align-items: flex-end;
}
footer .social-media-list {
  display: flex;
  gap: 15px;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer h5 {
  color: #F9F7F4;
  font-size: 30px;
  margin: unset;
}
footer .terms-privacy-wrapper {
  display: flex;
  gap: 10px;
}
footer .vertical-separator {
  background: white;
  width: 1px;
}
footer .footer-email {
  font-size: 18px;
  font-weight: 600;
}
footer .country-list {
  font-size: 14px;
}
footer .trademark {
  font-size: 14px;
}

.cta-form-container {
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 11;
  transition: 0.2s all;
}
.cta-form-container.hidden {
  right: -400px;
}
.cta-form-container form {
  display: block;
  position: unset;
}
.cta-form-container .title-close-wrapper {
  color: #6A257A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cta-form-container .title-close-wrapper .title {
  margin: unset;
}
.cta-form-container .title-close-wrapper .close-button-span:hover {
  cursor: pointer;
}

#call-cta {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 10;
  background: #6A257A;
  color: #F9F7F4;
  display: flex;
  gap: 3px;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  transition: 0.2s all;
  width: 112px;
  line-height: 1.25em;
}
#call-cta:hover {
  cursor: pointer;
  background: #572562;
}
