// Variables
@import 'variables';

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #6A257A !important;
}

a {
    color: $link-color !important;
}
.uppercase {
    text-transform: uppercase;
}



.hidden {display: none;}

.btn-close {
    cursor: pointer;
}

#campaign-navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;

    a {
        font-weight: bold;
    }

    .navbar-collapse {
        background: #fff;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 1px 1px 10px #333;

        .nav-logo {
            width: 220px;
        }

    }

    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='purple' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .btn-close-nav {
        font-size: 50px;
        color: $brand_purple !important;
        position: absolute;
        top: -20px;
        right: 10px;
    }

}

// Banner
#private-meetings-banner{
    position: relative;

    .slider-mask {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: -6px;
        width: 100%;
    }
    .slider-mask img {
        width: 100%;
    }

    .container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
    }

    @media (max-width:768px) {
        height: auto;

        #mobile-hero {
            width: 100%;
        }


        .slider-mask {
            width: 100%;
        }
        .container{
            position: unset;
        }

        #form-container-element-banner{
            margin-top: unset;
            width: 100%;
            position: relative;
            //background: url("/assets/img/campaigns/greece/Backgd-mob-form.svg");
            background-size: cover;
            box-shadow: none;
            padding-top: 8rem;
            padding-bottom: 4rem;

            .input-container{
                gap: 0px;
            }
        }

        .left-title-banner {
            padding-left: 20px;
        }

    }

    .image-slider-wrapper{
        height: auto;
        width:100%;

        @media (max-width:768px) {
            display: none !important;
            height: 24vh;
            width: 100%;
            margin-bottom: 100px;
        }

        .splide{
            height: 100%;

            .splide__track{
                height: 100%;

                .image-slide{

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .slider-text-container{

                        position: absolute;
                        top: 180px;
                        color: white;

                        @media (max-width:768px) {
                            top:140px;
                        }

                        .slider-title{
                            font-weight: 700;
                            // font-size: 36px;
                            font-size: 44px;

                            @media (max-width:768px) {
                                font-size: 36px;
                            }
                        }

                        .slider-subtitle{
                            font-size: 30px;
                            font-weight: 500;
                        }


                    }

                }
            }
        }
    }

    #banner-logo{
        position: absolute;
        width: 260px;
        object-fit: fill;
        height: fit-content;
        z-index: 1;
        top: 40px;

        @media (max-width:768px) {
            width: 150px;
        }
    }

    @media (max-width:768px) {

        .banner-container{
            padding: unset;
        }
        .logo-link {
            position: absolute;
            left: 20px;
            top: 20px;
        }
        #form-container-element-banner.private-meetings-country-form .flag-container {
            position: absolute;
            z-index: 9;
            top: -125px;
        }
    }
}
#form-container-element-banner, .banner-form {
    #modal-awareness-form {
        margin-top: 0;

        @media (max-width:768px) {
            margin-top: 0;
        }

    }
}
.visas-disclaimer {
    color: $brand_purple;
}

.logo-link {
    left: 0;
    top: 10%;
}

.left-title-banner{
    color: $brand_purple;
    background: none;
    position: relative;
    top: 30%;

    &.why-portugal-homes{
        position: unset;
    }

    &.testimonials-pm{

        background: linear-gradient(to right, #C3922E 22%, transparent 22%);
        position: unset;

        .container{
            padding-top: unset!important;
            padding-bottom: unset!important;

            .text-container{
                background: $brand_purple;
            }
        }
    }

    .container{
        display: grid;
        grid-template-columns: auto 1fr;

        @media (max-width:768px) {
            padding-left: 25px;
        }

        .text-container{
            padding: 25px 0 25px 0;
            background: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .title{
                font-size: 60px;
                font-weight: 700;
                margin: unset;

                @media (max-width:768px) {
                    font-size: 26px;
                }

                @media only screen
                and (min-device-width: 1024px)
                and (max-device-width: 1366px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    font-size: 40px !important;
                }

                @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
                    font-size: 50px;
                }

                .title-detail{
                    font-weight: 300;
                    font-size: 36px;
                }
            }

            .subtitle{
                font-size: 32px;
                margin: unset;
                margin-top: 5px;
            }
        }

        .white-element{
            width: 100%;
            // background:white;
            background: transparent;
        }
    }


}

#whats-in-it-for-you-section{

    h2.title {
        font-size: 45px;
        font-weight: 700;

        @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (-webkit-min-device-pixel-ratio: 2) {
            font-size: 30px !important;
            margin-bottom: 150px !important;
        }
        @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
            font-size: 38px;
        }

    }

    .item {
        text-align: right;
        position: relative;

        .itemdesc {
            position: relative;
            bottom: 60px;
        }


    }

    .item img {
        width: 100%;
        max-width: 350px;
        border-radius: 50%;
    }



    .item .item-title {
        text-align: left;
        line-height: 40px;
        font-size: 35px;
        font-weight: 700;

    }
    .item .desctext {
        color: $brand_purple;
        text-align: left;
        line-height: 34px;
        font-size: 24px;
        font-weight: 500;
        width: 80%;
    }

    .left-title-banner {
        z-index: 9;
        top: -170px;
    }
    .left-title-banner .container .text-container .title {
        font-size: 60px;
        top: -150px;
    }

    @media (max-width:768px) {
        margin-top: 100px;

            h2.title {
                font-size: 30px;
                margin-top:60px !important;
        }
        .item {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;

            .item-title {
                font-size: 22px;
                line-height: 25px;
            }

            .itemdesc {
                width: 50%;
                bottom: 0;
            }
            .desctext {
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
            }

        }

        .item img {
            max-width: 40%;
            margin-right: 10%;
            align-self: flex-start;
        }

    }

    .topics-list{
        display: flex;
        justify-content: center;
        gap: 50px;
        overflow: hidden;
        padding-bottom: 6rem;
        align-items: flex-end; /* Align items at the bottom */
        padding-top: 10px;


        @media (max-width:991px) {
            gap: 15px;
        }

        @media (max-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;
            column-gap: 30px;
        }

        .item{
            display: flex;
            flex-direction: column;
            justify-content: flex-end; /* Ensure the blue boxes stay at the bottom */
            position: relative;
            align-items: start;

            @media (max-width:768px) {
                width: 100%;
            }

            .topics-icon {
                height: 60px;
                opacity: 0.6;
            }

            .title{
                color: #B08BB9;
                font-size: 22px;
                line-height: 1.2;
                font-weight: 700;
                text-align: left;
                margin-top: 20px;
                margin-bottom: 0; /* Ensure fixed spacing between title and element */
            }

            .element{
                padding: 10px 0;
                height: 100px;
                border-radius: 10px;
                position: relative;
                transition: 0.2s all;
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: top;

                img{
                    width: 100px;
                    height: 90px;
                    object-fit: contain;
                    opacity: 1;
                    transition: 0.1s all;
                }

                .expand-button{
                    color: #6A257A;
                    font-weight: 700;
                    font-size: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                    opacity: 1;
                    transition: 0.1s all;
                }
            }

            .content{
                opacity: 0;
                font-size: 14px;
                color: black;
                margin-top: 0;
                padding-top: 10px;
                transition: opacity 0.3s ease;
                font-weight: 500;
                transform: scaleY(5);
                transform-origin: top;
                bottom: -170px;
            }

            &:hover{

                .element{
                    // height: 40px;
                    transform: scaleY(0.2);
                }

                .title {
                    color: $brand_purple;
                }

                .content{
                    opacity: 1;
                }

                img{
                    opacity: 1;
                    position: relative;
                    transform: translate(0, -10px);
                }

                .expand-button{
                    opacity: 0;
                }
            }
        }
    }

    .private-meetings-label{
        top: 50px;

        @media (max-width:768px) {

            .centered-dot{
                display: none;
            }

            .title-detail{
                display: block;
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

#property-slider-section {


    .property-card {
        position: relative;
        &:hover {
            .property-description {
                opacity: 1;
            }
        }

    }

    .property-details {
        position: relative;


        .property-description {
            opacity: 0;
            position: absolute;
            bottom: 0;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.7);
            transition: opacity 0.3s ease;
            font-weight: 700;
        }

    }


    .property-image {
        width: 100%;
    }
    a.property-link {
        text-decoration: none;
    }
    .property-details img {
        height: 300px; /* Set your desired height here */
        object-fit: cover; /* Ensures the image covers the area without distortion */
        width: 100%; /* Ensures the image takes the full width of its container */
        border-radius: 5px;
    }
    .content h2 {
        font-size: 36px;
        font-weight: 700;
        margin-top: 30px;

        @media (max-width:768px) {

                font-size: 22px;

        }


    }
    .property-price {
        font-size: 30px;
        color: $brand_purple;
        font-weight: 500;

        @media (max-width:768px) {

            font-size: 20px;

        }
    }
}


#private-meetings-booking-sections.finest-properties{

    h2.title {
        font-size: 45px;
        font-weight: 700;
    }
    p.desctext {
        color: $brand_purple;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
    }

    @media (max-width:768px) {
        h2.title {
            font-size: 35px;
            font-weight: 700;
        }


        p.desctext {
            font-size: 16px;
        }
    }


}

#property-slider-section {
    @media (max-width:768px) {
        margin-top: 0 !important;
    }
}

#private-meetings-booking-sections{

    background: url("/assets/img/campaigns/greece/BackgdGreece-Finest.svg");
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    .row{
        justify-content: flex-end;
    }

    .meetings-list-wrapper{
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 50px;

        .text-container {
            padding: 10px 20px 0 0;
        }

        .meetings-list{

            margin-top: 0;

            .meeting-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border: 0;
                border-radius: 10px;
                background: #fff;

                @media (max-width:768px) {
                    position: relative;
                    justify-content: center;
                    flex-direction: column;
                    align-items: start;
                    padding: 8px 20px;

                    .book-button{
                        align-self: flex-end;
                        position: absolute;
                        right: 15px;
                    }
                }

                &:first-of-type{

                }

                &:last-of-type{

                }

                &:not(:first-of-type){
                }

                .city-name{
                    font-weight: 700;
                    font-size: 26px;
                    color: $brand_purple;

                    @media (max-width:768px) {
                        font-size: 24px;
                        line-height: 1.2;
                    }
                }

                .date{
                    font-weight: 500;
                }

                .book-button{
                    background: $beaujolais;
                    border-radius: 15px;
                    color: white;
                    border: none;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 6px 32px;
                    transition: 0.2s all;
                    letter-spacing: 1px;

                    @media (max-width:768px) {
                        padding: 7px 32px;
                        font-size: 14px;
                    }

                    &:hover{
                        background: $light_blue;
                    }
                }
            }
        }

        .book-meeting-title{
            font-weight: 500;
            font-size: 35px;
            color: #1E2931;
        }
    }

    .right-overflow-image{
        position: relative;

        .country-flag {
            border-radius: 50%;
            width: 232px;
            top: -90px;
            left: 0;
            z-index: 99999;
        }

        img{
            position: absolute;
            bottom: -68px;
            width: 584px;
            object-fit: cover;
            z-index: 9999;
        }
    }
}

#take-the-opportunity-section{
    padding: 2rem 0;
    // background: url("/assets/img/campaigns/greece/CTA-MW-DTP-Mask.webp") no-repeat 100% 100%;
    background: url("/assets/img/campaigns/greece/CTA-MW-2-DTP.webp") no-repeat 100% 100%;
    //background: linear-gradient(to bottom, $brand_purple, transparent);
    z-index: 1;
    background-size: cover;
    height: 677px;

    @media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 360px;
    }
    @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
        height: 350px;
    }

/*
    .fakebg {
        position: absolute;
        background-size: cover;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 2;

    }
*/


    @media (max-width:768px) {
        background: url("/assets/img/campaigns/greece/CTA-MW-2-MOB.webp") no-repeat;
        background-size:cover;
        height: 770px;

        .salesman-intro {
          //  position: absolute !important;

        }

        .schedule-button {
            top: 160% !important;
            left: 0 !important;

            @media (max-width:360px) {
                top: 135% !important;
                left: 10% !important;
            }

        }

    }

    .row{
        align-items: center;
    }

    .container{
        position: relative;
        z-index: 3;
    }

    .salesman-area-wrapper{
        @media (max-width:768px) {
            display: flex;
            justify-content: flex-end;
            right: 90px;
        }
    }

    .salesman-image{
        width: 80%;
        position: relative;
        z-index: 1;
        padding-top: 10px;
        left: 140px;
        top: 82px;
        transform: rotate(1.2deg);

        @media (max-width:768px) {
            display: none;
            width: 70%;
            left: 0;
            top: 30px;
            transform: rotate(1deg);

        }
    }

    .salesman-intro{
        position: absolute;
        left: -70%;
        bottom: -45%;
        z-index: 1;

        @media (max-width:768px) {
            position: relative;
            left: -100px;
            bottom: -80px;
        }
        @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (-webkit-min-device-pixel-ratio: 2) {
            bottom: -7%;
        }
        @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
            bottom: -7%;
        }


        .name,
        .position{
            margin: unset;
            color: #fff !important;
        }

        .name{
            font-weight: 700;
            margin-bottom: 3px;
            font-size: 17px;
        }
    }

    .background-image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        &.mobile-image{
            display: none;
        }

        @media (max-width:768px) {
            &.mobile-image{
                display: block;
            }

            &.desktop-image{
                display: none;
            }
        }
    }

    .cta-content{

        display: flex;
        flex-direction: column;
        gap: 22px;
        align-items: start;
        margin-top: 50px;

        @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (-webkit-min-device-pixel-ratio: 2) {
            margin-top: 0;
        }
        @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
            margin-top: 0;
        }

        .title{
            font-size: 50px;
            font-weight: 700;
            color: #fff !important;

            @media (max-width:768px) {
                font-size: 32px;
            }
            @media only screen
            and (min-device-width: 1024px)
            and (max-device-width: 1366px)
            and (-webkit-min-device-pixel-ratio: 2) {
                font-size: 40px;
            }
            @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
                font-size: 40px;
            }

        }

        .subtitle{
            color: #fff !important;
            font-size: 20px;
            line-height: 34px;
            font-weight: 500;

            @media (max-width:768px) {
                font-size: 22px;
            }

            @media only screen
            and (min-device-width: 1024px)
            and (max-device-width: 1366px)
            and (-webkit-min-device-pixel-ratio: 2) {
                font-size: 22px;
                line-height: 24px;
                padding-right: 12rem;
            }
            @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
                font-size: 14px;
                line-height: 22px;
                padding-right: 12rem;            }

        }
        .subtitle li {
            line-height: 40px;
        }


        .schedule-button{
            border: unset;
            background: #AA2159;
            color: white;
            border-radius: 25px;
            padding: 17px 55px;
            transition: 0.2s all;
            width: fit-content;
            box-shadow: 0px 4px 22px -9px rgba(0, 0, 0, 0.75);
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            position: absolute;
            top: 130%;
            left: 20%;

            @media screen
            and (device-width: 360px) {
                top: 130%;
            }


            @media only screen
            and (min-device-width: 1024px)
            and (max-device-width: 1366px)
            and (-webkit-min-device-pixel-ratio: 2) {
                position: relative;
            }

            @media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
                top: 102%;
            }

            &:hover{
                background: #D4ECFA;
                color: #25283D;
            }
        }

    }

}

#why-portugal-homes-section-pm{
    padding: 70px 0 0 0;

    .row.why-portugal-homes h4 {
        font-weight: 700;
        font-size: 28px;
    }

    .title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 3rem;
    }

    @media (max-width:768px) {
        padding-top: unset;
    }


    .double-down-chevron-bottom svg {
        width: 60px;
        height: 60px;
        fill: #6A257A ;
        animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
    }

    .list-of-reasons{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;


        @media (max-width:768px) {
            flex-direction: column;
            row-gap: 30px;
            margin-top: 60px;
        }

        img {
            width: 100%;
        }

        .description.left {
            text-align: left;
            position: absolute;
            left: 0;
        }
        .description.right {
            text-align: right;
            position: absolute;
        }
        .description.bottom {
            position: absolute;
            right: 0;
            z-index:3;
        }

        .list-of-reasons-bottom-image {
            position: relative;

        }

        .item{
            width: 28%;

            @media (max-width:768px) {
                width: 100%;
            }

            .description{
                text-align: center;
                margin-top: 5px;

                .title{
                    margin: unset;
                    font-size: 40px;
                    font-weight: 700;
                }

                .subtitle{
                    font-size: 26px;
                    font-weight: 500;
                }
            }
        }

        .image-element{

            position: relative;
            // height: 100%;
            height: 240px;

            .bottom-white-fade{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 3;
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5438550420168067) 13%, rgba(9,9,121,0) 25%);
            }

            img{
                width: 100%;
                border-radius: 10px;
                position: relative;
                z-index: 2;
                height: 100%;
                object-fit: cover;
            }

            .image-bottom-layer{
                background: $baby_blue;
                background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5438550420168067) 13%, rgba(219, 234, 242, 1) 25%);
                position: absolute;
                top: -15px;
                bottom: 0px;
                left: 0px;
                right: -15px;
                z-index: 1;
                border-radius: 10px;
            }
        }


    }

}

#testimonials-section-pm{

    // background: linear-gradient(180deg, rgba(231, 215, 182, 0.6) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    //background: transparent linear-gradient(180deg, #CCAD7600 0%, #CCAD7680 61%, #CCAD7600 100%) 0% 0% no-repeat padding-box;
    //background-size: cover;
    //background: url("/images/BGtestimonials-section-pm.svg") no-repeat scroll;
    position: relative;
    z-index: 2;

    .container{
        padding-top: 70px;
        padding-bottom: 60px;

        @media (max-width:500px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .testimonials-title {
        text-align: left;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 60px;

        @media (max-width:768px) {
            font-size: 30px;
        }


    }

    .testimonial-img {
        border-radius: 50%;
        width: 300px;

        @media (max-width:768px) {
            width: 50%;
        }

        @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (-webkit-min-device-pixel-ratio: 2) {
            width: 230px;
        }

    }

    // .title-container{
    //     text-align: center;
    // }

    .discover-how-today-with-face{
        background: $blue_bg;
        position: relative;
        // bottom: -24px;
        // right: 0;
        // left: 0;
        width: fit-content;
        margin: auto;
        color: white;
        padding: 14px 40px;
        padding-left: 95px;
        border-radius: 34px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        box-shadow: 0px 0px 30px #F2CA78;
        // margin-top: 50px;
        margin-top: 35px;

        &:hover{
            background: $brand_purple;
            cursor: pointer;
        }

        @media (max-width:576px) {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 10;

            width: 100%;
            bottom: 0;
            border-radius: inherit;
            text-align: center;
            font-size: 22px;

            .wrapper{
                position: relative;
            }
        }

        @media (max-width:500px) {
            font-size: 20px;
        }

        @media (max-width:360px) {
            font-size: 18px;
        }

        .agent-face-wrapper{
            position: absolute;
            height: 80px;
            width: 80px;
            border-radius: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }

            @media (max-width:576px) {
                bottom: 25px;
            }

            @media (max-width:540px) {
                left: -25px;
            }

            @media (max-width:500px) {
                width: 70px;
                height: 70px;
            }

            @media (max-width:440px) {
                left: -40px;
            }

            @media (max-width:410px) {
                left: -65px;
            }

            @media (max-width:370px) {
                width: 60px;
                height: 60px;
                bottom: 30px;
            }
        }
    }

    .call-back-text{
        text-align: center;
        display: block;
        margin-top: 10px;
        font-size: 14px;

        @media (max-width:578px) {
            display: none;
        }
    }

    .testimonials-row{
        justify-content: center;
        // margin-top: 40px;
        column-gap: 20px;

        @media (max-width:991px) {
            column-gap: unset;
        }

        @media (max-width:576px) {
            display: none;
        }
    }

    .testimonial-col{
        @media (max-width:991px) {
            width: calc(100%/3);
        }
    }

    .testimonials-content{

        .testimonial-card{
            border: 0;
            margin: 10px;
            border-radius: 20px;
            background: white;
            display: flex;
            gap: 14px;
            padding: 16px;
            /* height: 360px; */
            align-items: end;
            position: relative;
            flex-direction: column;

            @media (max-width:768px) {
                padding: 0;
            }


            &.expanded{
                .read-more{
                    display: none;
                }

                .content{
                    -webkit-line-clamp: unset;
                    line-clamp: unset;
                    overflow: visible;
                    white-space: normal;
                }
            }

            &.show-read-more{
                .read-more{
                    display: block;
                }
            }

            .read-more{

                transition: 0.2s all;
                display: none;

                &:hover{
                    cursor: pointer;
                    color: $brand_mid_purple;
                }
            }

            .quotemark {
                align-self: flex-start;
                margin-right: 15px;
            }

            .quotation-marks{
                width: 22px;
                height: fit-content;
                position: relative;
                top: 3px;
                align-self: flex-start;
            }

            .content{
                // -webkit-line-clamp: 5;
                // line-clamp: 5;
                color: $brand_purple;
                font-weight: 500;
                font-size: 18px;
                display: flex;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: collapse;
                position: relative;
                bottom: 60px;
                min-height: 135px;

                @media (max-width:580px) {
                    -webkit-line-clamp: unset;
                    line-clamp: unset;
                }

                @media only screen
                and (min-device-width: 1024px)
                and (max-device-width: 1366px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    min-height: 265px;
                }


                .fa-quote-left {
                    margin-right: 10px;
                    font-size: 30px;
                    color: #707070;
                }
                .fa-quote-right {
                    margin-left: 10px;
                    font-size: 30px;
                    color: #707070;
                }

            }

            .country-flag{
                align-self: flex-end;
                width: 45px;
                height: 24px;
                float: right;
                position: relative;
                bottom: 20px;
                right: 12px;
            }

            .client-name {
                font-size: 28px;
                font-weight: 700;
                color: $brand_purple;
                align-self: flex-start;
                position: absolute;
                bottom: 20px;
                left: 65px;


                @media only screen
                and (min-device-width: 1024px)
                and (max-device-width: 1366px)
                and (-webkit-min-device-pixel-ratio: 2) {
                    position: relative;
                }

                @media (max-width:768px) {
                    bottom: 0;
                    left: 45px;
                }

            }

        }



        .client-details{
            width: 100%;
            line-height: 1.2;
            color: $blue_bg;
            position: relative;
            left: 10px;
            right: 10px;
            text-align: right;

            @media (max-width:768px) {
                left: 0;
                text-align: left;
            }


            .client-name{
                // font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .testimonials-slider{

        .testimonial{
            height: fit-content;
        }

        .splide__list{
            transition: 0.2s all;
            height: fit-content;
        }

        @media (min-width:576px) {
            // display: none;
        }

        @media (max-width:576px) {
            // padding-top: 30px;
            padding-bottom: 20px;
        }

        .splide__pagination{
            bottom: -2em;
        }
    }

    .cta-text-mobile{
        display: none;
    }

    @media (max-width:576px) {

        .cta-text-mobile{
            display: block;
        }

        .cta-text-desktop{
            display: none;
        }
    }

    .splide__pagination__page.is-active{
        background: #333
    }

    .testimonials-cta-text{
        display: block;
        text-align: center;
        margin-top: 40px;
        font-weight: 600;
        font-size: 20px;

        @media (max-width:578px) {
            display: none;
        }
    }

}

.footer-pm{
    color: #fff;
    background: url("/images/Backgd-Footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;

    .main-container{
        text-align: center;
        position: relative;
        z-index: 1;
        padding-top: 50px;
        padding-bottom: 50px;

        @media (max-width:500px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .social-media-container{

        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 15px;

        .white-round-div {
            background: transparent;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            // margin: 0 0 0 auto;
            transition: 0.2s all;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .white-round-div:hover {
            cursor: pointer;

            i {
                color: white;
            }
        }

        i {
            color: $brand_mid_purple;
            transition: 0.2s all;
            font-size: 50px;
        }
    }

    .ph-footer-logo{
        margin: 25px auto 50px auto;

        @media (max-width:500px) {

        }
    }

    a{
        text-decoration: none;
        color: #fff !important;
        transition: 0.2s all;

        &:hover{
            color: white;
        }
    }

    .background-container{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

            @media (max-width:500px) {
                height: 50%;
            }
        }

        .overlay-element{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);

            @media (max-width:500px) {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 100%);
                height: 50%;
            }
        }
    }

    .company-info{
        font-size: 13px;
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .bottom-bar{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: $brand_purple;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 14px;
        z-index: 3;

        .left-span{
            // font-style: italic;
        }
    }

    .bottom-container{
        display: flex;
        justify-content: space-between;
    }

    .footer-terms-and-conditions{
        @media (max-width:991px) {
            display: none;
        }
    }
}

#fade-in-booking-section{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    // background-image: url('/assets/img/private_meetings/Hero-PT-Pena-W1920px-DTP.webp');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    @media (max-width:768px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 999999;


        .private-meetings-country-form{
            width: 100%!important;
            height: 100%!important;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .flag{
                width: 110px!important;
                height: 110px!important;
                bottom: 8px!important;
            }
        }
    }

    .background-image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: blur(0);
    }

    .background-image-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .background-image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
        pointer-events: none; /* Allow clicks through the overlay */
    }

    .container{
        // position: relative;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;

        @media (max-width:768px) {
            padding: 0;
        }

        .fade-in-logo{
            position: absolute;
            left: 0;
            width: 240px;
            top: 10%;

            @media (max-width:768px) {
                width: 160px;
                left: 25px;
                top: 15%;
            }
        }
    }

    /* Form */
    .generic-form-container{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: fit-content;
        margin: auto;
        background: $baby_blue;
    }
}

#submitButton:disabled {
    color: #fff;
    background: #B08BB980;
}

#fade-in-booking-section {

    .flag-container {
        display: flex;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: -74px !important;

        .anim {
           bottom: 38px !important;
        }
    }
}

#form-container-element-banner.private-meetings-country-form{

    right: 0;
    background: #DBEAF2;
    // width: 375px;
    width: 350px;
    padding: 13px 18px;
    top: 100px;
    z-index: 1;

    .flag-container{
        position: absolute;
        top: -115px;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;

        .flag {
            display: flex;
            margin: 0 auto;
            width: 150px;
            background: #dbeaf2;
            border-radius: 50%;
            height: 150px;
            z-index: -1;
            top: 46px;
            position: relative;
            right: 0;
        }
        .anim {
            position: absolute;
            bottom: 60px;
            left: -12px;
            right: 0;
            width: 170px !important;
        }
        @media (max-width:768px) {
            .flag {
                top: 50px;
            }
            .anim {
                position: relative;
                bottom: 30px;
                left: 0;
                width: 200px !important;
                height: auto !important;
            }

        }

    }


    // Flag and text on top of the form
    .flag-text-container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;


        @media (max-width:768px) {
            grid-template-columns: 1fr 2fr;
            position: absolute;
            top: 22px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 9;
        }

        .flag{
            // width: 140px;
            // height: 140px;
            overflow: hidden;
            position: relative;
            top: 0;
            bottom: 30px;
            right: 10px;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title{
            line-height: 1.1;
            font-weight: 700;


        }

        .subtitle {
            font-size: 26px;
        }

        @media (max-width:768px) {

            .title{
                font-size: 26px;
            }

            .subtitle{
                font-size: 18px;
            }
        }

        .title, .subtitle    {
            color: $beaujolais !important;
        }



        .title,
        .subtitle{
            margin: 0;
        }
    }

    input,select,textarea{
        font-size: 15px;
        color: #1E3B6BB3;
    }

    .generic-form-container .generic-form input:focus, .generic-form-container .generic-form select:focus, .generic-form-container .generic-form textarea:focus {
        box-shadow: 0 0 3px #1E3B6BB3;
        outline: 1px solid #1E3B6BB3;
        /* border: 1px solid #d9ab4d; */
    }

    .iti--separate-dial-code .iti__selected-dial-code {
        color: #1E3B6BB3;
    }

        ::placeholder {
        color: #1E3B6BB3;
        opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Edge 12 -18 */
        color: #1E3B6BB3;
    }


    .checkbox-wrapper label:before{
        border: 1px solid #4682B4;
    }

    .checkbox-wrapper label:after{
        border-bottom: 2px solid #4682B4;
        border-left: 2px solid #4682B4;
    }

    .close-button{
        position: absolute;
        top: -50px;
        right: 10px;
        font-size: 28px;
        fill: white;
        z-index: 99;

        @media (max-width:768px) {
            top: 30px;
            right: 25px;
            fill: black;
        }
    }
}

.generic-form-container .generic-form .submit-button {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    border: none;
    background: $beaujolais;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s all;
    margin-top: 10px;
}


// Form present in our PM's campaigns
body .private-meetings-form{

    .submit-button{
        padding: 10px 30px!important;
        font-weight: 400!important;
    }

    .checkbox-wrapper label:before{
        border-radius: 10px;
    }
}

#learn-more-cta{
    display: none;
}

.grecaptcha-badge{
    display: none;
}

.follow-us-text{
    font-size: 40px;
}
